mat-card {
  display: flex;
  margin: auto;
  width: 90%;
  margin-top: 1rem;
}

.brand {
  width:30%;
}

.model {
  width:50%;
}

.year {
  width:20%;
}

.brand, .model, .year {
  margin-right: 1rem;
  margin-left: 1rem;
}

