<mat-toolbar color="primary">
  <button mat-button class="home" mat-button [routerLink]="['/panel/home']">Fipe API - Home</button>
  <span class="blank-space"></span>
  <button mat-button [routerLink]="['/panel/tco']" routerLinkActive="active">TCO</button>
  <button mat-button [routerLink]="['/panel/modality']" routerLinkActive="active">Estudo de Modalidade</button>
  <button mat-button [routerLink]="['/panel/plate']" routerLinkActive="active">Fipe por Placa</button>
  <button mat-button [routerLink]="['/panel/model']" routerLinkActive="active">Fipe por Modelo</button>
  <button mat-button [routerLink]="['/login']" routerLinkActive="active">Sair</button>
</mat-toolbar>
